header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #62C370;
    padding: 10px 20px;
    
}
a{
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code" , Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    display:inline-flex;
    align-items: center;
    
}
a::before{
    content: "";
    display:inline-block;
    background-color: #F25A70;
    width:10px;
    height:10px;
    margin-right: 10px;

}


#button{
    display: inline-flex ;
    background-color: #F25A70;
    padding:18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 5px;
    transition: transform 150ms ease-in-out ;

}
nav{
    text-align: right;
}

#button:hover{
    transform: scale(1.08) ;

}
#logo{
    
    font-family: 'Press Start 2P' , sans-serif ;
    color: #3772FF ;
    text-shadow: 4px 4px 0px #000000;
    
}


