.box{
    display: inline-block;
    background-color: #3A4042;
    text-align: center;
    box-shadow: 8px 8px 0px #000000;
    padding: 15px 20px;
    line-height: 80px;
    
}

.box .subtitle{
    text-shadow: 4px 4px 0px #000000;
}

.box .title{
    text-shadow: 4px 4px 0px #000000;
}